.header{
    display: flex;
    justify-content: space-between;
    border: 1.5px solid black;
}
.logo{
    width: 150px;
}

.nav-items>ul{
    display: flex;
    list-style-type: none;
}

.nav-items>ul>li{
    padding: 5px;
    margin: 10px;
    color: gold;
    font-weight: 300;
    
   
}

.nav-items>ul>li:hover{
    border: 1.5px solid;
    cursor: pointer;
   
}
.search{
   display: flex;
   justify-content:flex-start;
}
.input-label{
    padding: 10px;
    margin: 10px;
}
.input-field{
    margin: 40px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    margin: 30px;  
    width: 230px;
    height: 380px;
    padding: 5px;    
}

.res-card:hover{
    border: 0.2px solid black;
    cursor: pointer;
}

.res-logo{
    width: 100%;
    
}